<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="CRM Demo Application">

	<listeners>
		<listener class-name="com.php.qa.util.TestNGListener"></listener>
	</listeners>

	<test name="CRM Demo Application">

		<classes>
			<class name="com.php.qa.testcases.LoginPageTest"></class>
		</classes>

	</test>

</suite>